{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome Sonam</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1">
   <div class="row">
    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address</h3>
       {% for add in address %}
        <p>Name: {{add.name}}</p>
        <p>Address : {{add.locality}}</p>
        <p>City : {{add.city}}</p>
        <p>District : {{add.district}}</p>
        <p>ZipCode : {{add.zipcode}}</p>
       
         
       {% endfor %}

      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}