{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <h3>Welcome Sonam</h3>
    <div class="col-sm-2 border-end">
      <ul class="list-unstyled">
        <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
      </ul>
    </div>
    <div class="col-sm-9 offset-sm-1">
      
        <div class="alert alert-success fade-in" role="alert">
          An Email has been sent to you console.
        </div>
     
    
    </div>
  </div>
</div>

<style>
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  
  .fade-in {
    animation: fadeIn 1s ease-in-out;
  }
</style>

{% endblock main-content %}